body{
    background-color: whitesmoke;
}

h1, #instructions{
    margin: 0 auto;
}

header{
    padding-bottom: 1em;
    background-color: rgb(25, 85, 25);
    color: white;
    font-size: bold;
    cursor: pointer;
    text-align: center;
}

footer{
    padding-bottom: 1em;
    background-color: rgb(25, 85, 25);
    color: white;
    font-size: bold;
}

.state {fill:rgb(180, 200, 180)}  

.state:hover{
    cursor: pointer;
}  

.borders {stroke: rgb(25, 85, 25); stroke-width:1} 

.DCcircle {opacity:0}                        

.separator {stroke:rgb(25, 85, 25); stroke-width:2}  

.map-container {
    position: relative; 
    height: 0; 
    width: 100%; 
    padding: 1em;
    padding-bottom: 50%; 
   }

   .map {
    position: absolute; 
    height: 100%; 
    width: 100%; 
    left: 0; 
    top: 0;
   }

   #plant-table{
    height: 75vh;
    overflow-y: scroll;
   }

   img{
       max-width: 50%;
   }

   footer{
       text-align: center;
   }

   .footer-text{
       margin: 0 auto;
   }

   .plant-row{
       cursor: pointer;
   }

   .org{
       text-align: center;
   }

   .org-row{
       padding-top: 2em;
       padding-bottom: 2em;
   }

.about-btn{
    float: left;
    margin: 1em;
}

.sources-text{
    font-size: .8em;
}

.bee{
    float: right;
    margin-left:.2em;
}

    