h1{
    margin: 0 auto;
    padding-bottom: 1em;
}

.state {fill:rgb(180, 200, 180)}  

.state:hover{
    cursor: pointer;
}  

.borders {stroke: rgb(25, 85, 25); stroke-width:1} 

.DCcircle {opacity:0}                        

.separator {stroke:rgb(25, 85, 25); stroke-width:2}  

.map-container {
    position: relative; 
    height: 0; 
    width: 100%; 
    padding: 0;
    padding-bottom: 50%; 
   }

   .map {
    position: absolute; 
    height: 100%; 
    width: 100%; 
    left: 0; 
    top: 0;
   }

   #plant-table{
    height: 75vh;
    overflow-y: scroll;
   }