body{
    background-color: whitesmoke;
    color: rgb(25, 85, 25);
}

.form-check-label{
    font-weight: bold;
}

h1{
    margin: 0 auto;
    display: inline;
}

header{
    padding-bottom: 1em;
    background-color: rgb(25, 85, 25);
    color: white;
    font-weight: bold;
    text-align: center;
}

#instructions{
    font-weight: normal;
    margin-bottom: 0em;
}

footer{
    padding-bottom: 1em;
    background-color: rgb(25, 85, 25);
    color: white;
    font-size: bold;
}

.state {fill:rgb(180, 200, 180)}  

.state:hover{
    cursor: pointer;
}  

.borders {stroke: rgb(25, 85, 25); stroke-width:1} 

.DCcircle {opacity:0}                        

.separator {stroke:rgb(25, 85, 25); stroke-width:2}  

.map-container {
    position: relative; 
    height: 0; 
    width: 100%; 
    padding: 1em;
    padding-bottom: 50%; 
   }

   .usa-map {
    position: absolute; 
    height: 100%; 
    width: 100%; 
    left: 0; 
    top: 0;
   }

   .can-map {
    position: absolute; 
    height: 100%; 
    width: 100%; 
    left: 0; 
    top: 0;
   }

   #plant-table{
    height: 75vh;
    overflow-y: scroll;
   }

   .org-logo-img{
       width: 50%;
   }

   .gcp-row{
       padding-top: 2em;
       padding-bottom: 1em;
   }

   footer{
       text-align: center;
   }

   .footer-text{
       margin: 0 auto;
   }

   .plant-row{
       cursor: pointer;
   }

   .org, .cloud, .gcp-col{
       text-align: center;
   }
   
   .gcp-col{
       width: 200px;
       height: 200px;
   }

   .gcp-image{
       width: 50%;
   }

   .org-row{
       padding-top: 2em;
       padding-bottom: 2em;
   }

   .select-div{
       text-align: center;
       float: right;
       margin: 1em;
   }

.btn{
    margin: 1em;
}

.back-btn{
    display: none;
}

.sources-text{
    font-size: .8em;
}

.bee{
    float: right;
    margin-left:.2em;
    width: 50%;
}

.can-container{
    display: none;
}

.map-row{
    margin-bottom: 2em;
}

#follow-text{
    text-align: center;
}

.description, .google-apps{
    padding-bottom: 2em;
    border-bottom: 2px solid rgb(25, 85, 25);
}

.sources-row{
    padding-top: 2em;
}